
@{
    ViewBag.Title = "WebApi";
}

<h2>WebApi</h2>
<h3><u>Values of multiple parameter is received</u></h3>
<br />
<h3>The First Number in a Number Set: @ViewData["Data1"]</h3>
<br />
<h3>The Last Number in a Number Set: @ViewData["Data2"]</h3>
<br />
<h3>The Index Position Seleted for a Given Set: @ViewData["Data3"]</h3>
<br />
<h3>The Number in the Selected Index: @ViewData["Data4"]</h3>

